{{ 'cs-collapsible-cards.css' | asset_url | stylesheet_tag }}
{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'collapsible-content.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
  	padding-top: calc({{ section.settings.padding_top }}px * 0.75);
  	padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
  }

  @media screen and (min-width: 750px) {
  	.section-{{ section.id }}-padding {
  		padding-top: {{ section.settings.padding_top }}px;
  		padding-bottom: {{ section.settings.padding_bottom }}px;
  	}
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="section-{{ section.id }}-padding page-width">
    {% comment %} Heading {% endcomment %}
    {%- if section.settings.heading != blank -%}
      <h2 class="cs-collapsible-cards__heading inline-richtext {{ section.settings.heading_alignment }} {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        {{ section.settings.heading }}
      </h2>
    {%- endif -%}
    {% comment %} Main {% endcomment %}
    <div class="cs-collapsible-cards__container">
      <div class="cs-collapsible-cards__wrapper grid grid--1-col-tablet-down grid--{{ section.settings.columns_desktop }}-col-desktop">
        {% for block in section.blocks %}
          <div
            class="cs-collapsible-cards__item grid__item color-{{ section.settings.card_color_scheme }}"
            {{ block.shopify_attributes }}
          >
            {% if block.settings.title != blank %}
              <div class="cs-collapsible-cards__item-title-container">
                <div class="cs-collapsible-cards__item-title-wrapper">
                  {% if block.settings.title != blank %}
                    <h3 class="cs-collapsible-cards__item-title h1">{{ block.settings.title }}</h3>
                  {% endif %}
                  {% if block.settings.subtitle != blank %}
                    <p class="cs-collapsible-cards__item-subtitle subtitle">{{ block.settings.subtitle }}</p>
                  {% endif %}
                </div>
                <a
                  {% if block.settings.link != blank %}
                    href="{{ block.settings.link }}"
                  {% endif %}
                  class="cs-collapsible-cards__item-button button button--secondary"
                >
                  {% render 'icon-arrow' %}
                </a>
              </div>
            {% endif %}
            {% if block.settings.image != blank %}
              <div class="cs-collapsible-cards__image-container cs-collapsible-cards__aspect-ratio--{{ section.settings.image_aspect_ratio }}">
                {% capture sizes %}
                (min-width: 750px) calc(100vw / {{ section.settings.columns_desktop }}), 100vw
                {% endcapture %}
                {{
                  block.settings.image
                  | image_url: width: 3200
                  | image_tag:
                    widths: '300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200',
                    sizes: sizes,
                    class: 'cs-collapsible-cards__image'
                }}
              </div>
            {% else %}
              <div class="cs-collapsible-cards__image-container cs-collapsible-cards__aspect-ratio--{{ section.settings.image_aspect_ratio }}">
                {{
                  'image'
                  | placeholder_svg_tag: 'cs-collapsible-cards__image cs-collapsible-cards__image-placeholder placeholder'
                }}
              </div>
            {% endif %}

            <div class="cs-collapsible-cards__content accordion content-container">
              {% if block.settings.collapsible_title_1 != blank %}
                <details id="Details-1-{{ section.id }}">
                  <summary id="Summary-1-{{ section.id }}">
                    <h3 class="accordion__title inline-richtext h3">
                      {{ block.settings.collapsible_title_1 | escape }}
                    </h3>
                    {% render 'icon-plus' %}
                  </summary>
                  <div
                    class="accordion__content rte"
                    id="CollapsibleAccordion-1-{{ section.id }}"
                    role="region"
                    aria-labelledby="Summary-1-{{ section.id }}"
                  >
                    {{ block.settings.collapsible_content_1 }}
                  </div>
                </details>
              {% endif %}
              {% if block.settings.collapsible_title_2 != blank %}
                <details id="Details-2-{{ section.id }}">
                  <summary id="Summary-2-{{ section.id }}">
                    <h3 class="accordion__title inline-richtext h3">
                      {{ block.settings.collapsible_title_2 | escape }}
                    </h3>
                    {% render 'icon-plus' %}
                  </summary>
                  <div
                    class="accordion__content rte"
                    id="CollapsibleAccordion-2-{{ section.id }}"
                    role="region"
                    aria-labelledby="Summary-2-{{ section.id }}"
                  >
                    {{ block.settings.collapsible_content_2 }}
                  </div>
                </details>
              {% endif %}
              {% if block.settings.collapsible_title_3 != blank %}
                <details id="Details-3-{{ section.id }}">
                  <summary id="Summary-3-{{ section.id }}">
                    <h3 class="accordion__title inline-richtext h3">
                      {{ block.settings.collapsible_title_3 | escape }}
                    </h3>
                    {% render 'icon-plus' %}
                  </summary>
                  <div
                    class="accordion__content rte"
                    id="CollapsibleAccordion-3-{{ section.id }}"
                    role="region"
                    aria-labelledby="Summary-3-{{ section.id }}"
                  >
                    {{ block.settings.collapsible_content_3 }}
                  </div>
                </details>
              {% endif %}
              {% if block.settings.collapsible_title_4 != blank %}
                <details id="Details-4-{{ section.id }}">
                  <summary id="Summary-4-{{ section.id }}">
                    <h3 class="accordion__title inline-richtext h3">
                      {{ block.settings.collapsible_title_4 | escape }}
                    </h3>
                    {% render 'icon-plus' %}
                  </summary>
                  <div
                    class="accordion__content rte"
                    id="CollapsibleAccordion-4-{{ section.id }}"
                    role="region"
                    aria-labelledby="Summary-4-{{ section.id }}"
                  >
                    {{ block.settings.collapsible_content_4 }}
                  </div>
                </details>
              {% endif %}
              {% if block.settings.collapsible_title_5 != blank %}
                <details id="Details-5-{{ section.id }}">
                  <summary id="Summary-5-{{ section.id }}">
                    <h3 class="accordion__title inline-richtext h3">
                      {{ block.settings.collapsible_title_5 | escape }}
                    </h3>
                    {% render 'icon-plus' %}
                  </summary>
                  <div
                    class="accordion__content rte"
                    id="CollapsibleAccordion-5-{{ section.id }}"
                    role="region"
                    aria-labelledby="Summary-5-{{ section.id }}"
                  >
                    {{ block.settings.collapsible_content_5 }}
                  </div>
                </details>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Tarjetas colapsables",
  "tag": "section",
  "class": "section cs-collapsible-cards",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Tarjetas colapsables",
      "label": "Título"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "Pequeño"
        },
        {
          "value": "h1",
          "label": "Mediano"
        },
        {
          "value": "h0",
          "label": "Grande"
        }
      ],
      "default": "h1",
      "label": "Tamaño del título"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "options": [
        {
          "value": "left",
          "label": "Izquierda"
        },
        {
          "value": "center",
          "label": "Centro"
        },
        {
          "value": "right",
          "label": "Derecha"
        }
      ],
      "default": "center",
      "label": "Alineación del título"
    },
    {
      "type": "header",
      "content": "Tarjetas"
    },
    {
      "type": "select",
      "id": "columns_desktop",
      "options": [
        {
          "value": "1",
          "label": "1 columna"
        },
        {
          "value": "2",
          "label": "2 columnas"
        }
      ],
      "default": "2",
      "label": "Número de columnas en escritorio"
    },
    {
      "type": "select",
      "id": "image_aspect_ratio",
      "label": "Relación de aspecto",
      "default": "3-2",
      "options": [
        {
          "value": "none",
          "label": "Adaptar a la imagen"
        },
        {
          "value": "1-1",
          "label": "Cuadrada"
        },
        {
          "value": "4-3",
          "label": "Horizontal (4:3)"
        },
        {
          "value": "16-9",
          "label": "Horizontal (16:9)"
        },
        {
          "value": "3-2",
          "label": "Horizontal (3:2)"
        },
        {
          "value": "3-4",
          "label": "Vertical (3:4)"
        },
        {
          "value": "2-3",
          "label": "Vertical (2:3)"
        }
      ]
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "card_color_scheme",
      "label": "Esquema de color de tarjeta",
      "default": "scheme-2"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "card",
      "name": "Tarjeta",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Título",
          "default": "Título de la tarjeta"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Enlace"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtítulo",
          "default": "Subtítulo de la tarjeta"
        },
        {
          "type": "header",
          "content": "Ajustes de imagen"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Imagen"
        },
        {
          "type": "header",
          "content": "Contenido"
        },
        {
          "type": "text",
          "id": "collapsible_title_1",
          "label": "Título del contenido 1",
          "default": "Título 1"
        },
        {
          "type": "richtext",
          "id": "collapsible_content_1",
          "label": "Contenido 1",
          "default": "<p>Contenido 1</p>"
        },
        {
          "type": "text",
          "id": "collapsible_title_2",
          "label": "Título del contenido 2",
          "default": "Título 2",
          "info": "Título del contenido 2"
        },
        {
          "type": "richtext",
          "id": "collapsible_content_2",
          "label": "Contenido 2",
          "default": "<p>Contenido 2</p>"
        },
        {
          "type": "text",
          "id": "collapsible_title_3",
          "label": "Título del contenido 3",
          "default": "Título 3"
        },
        {
          "type": "richtext",
          "id": "collapsible_content_3",
          "label": "Contenido 3",
          "default": "<p>Contenido 3</p>",
          "info": "Contenido 3"
        },
        {
          "type": "text",
          "id": "collapsible_title_4",
          "label": "Título del contenido 4"
        },
        {
          "type": "richtext",
          "id": "collapsible_content_4",
          "label": "Contenido 4"
        },
        {
          "type": "text",
          "id": "collapsible_title_5",
          "label": "Título del contenido 5"
        },
        {
          "type": "richtext",
          "id": "collapsible_content_5",
          "label": "Contenido 5"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Tarjetas colapsables",
      "blocks": [
        {
          "type": "card",
          "settings": {
            "title": "Tarjeta 1",
            "subtitle": "Subtítulo de la tarjeta 1"
          }
        },
        {
          "type": "card",
          "settings": {
            "title": "Tarjeta 2",
            "subtitle": "Subtítulo de la tarjeta 2"
          }
        }
      ]
    }
  ]
}
{% endschema %}
