{{ 'cs-media-with-text.css' | asset_url | stylesheet_tag }}
{{ 'video-section.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.75);
    padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- capture sizes -%}
  (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px)
  calc(100vw - 10rem), 100vw
{%- endcapture -%}

{% if section.blocks.size > 0 %}
  <div class="color-{{ section.settings.color_scheme }} gradient{% if section.settings.enable_background_texture == true and section.settings.background_texture != blank %} background-texture-enabled{% endif %}">
    <div class="section-{{ section.id }}-padding page-width">
      <div class="cs-media-with-text__container">
        {% if section.settings.enable_background_texture == true and section.settings.background_texture != blank %}
          <div class="cs-media-with-text__background-texture">
            {{
              section.settings.background_texture
              | image_url: width: 3200
              | image_tag:
                widths: '300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200',
                sizes: '(min-width: 750px) calc(100vw - 10rem), 100vh',
                class: 'cs-media-with-text__background-texture-image'
            }}
          </div>
        {% endif %}
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'title' %}
              <div class="cs-media-with-text__item cs-media-with-text__item-{{ block.type }}">
                {% if block.settings.title != blank %}
                  <h2 class="cs-media-with-text__title {{ block.settings.title_alignment }} {{ block.settings.title_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                    {{ block.settings.title }}
                  </h2>
                {% endif %}
              </div>
            {% when 'media' %}
              {%- liquid
                assign video_id = block.settings.video.id | default: block.settings.video_url.id
                assign video_alt = block.settings.video.alt | default: block.settings.description
                assign alt = 'sections.video.load_video' | t: description: video_alt | escape
                assign poster = block.settings.video.preview_image | default: block.settings.cover_image

                if block.settings.video != null
                  assign ratio_diff = block.settings.video.aspect_ratio | minus: poster.aspect_ratio | abs
                  if ratio_diff < 0.01 and ratio_diff > 0
                    assign fix_ratio = true
                  endif
                endif
              -%}
              {% if block.settings.video != blank
                or block.settings.video_url != blank
                or block.settings.show_image == true
              %}
                <div class="cs-media-with-text__item cs-media-with-text__item-{{ block.type }}">
                  {% if block.settings.video != blank or block.settings.video_url != blank %}
                    <div class="cs-media-with-text__video-container">
                      <deferred-media
                        class="video-section__media deferred-media gradient {% if fix_ratio %} media-fit-cover{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                        data-media-id="{{ video_id }}"
                        {% if poster != null %}
                          style="--ratio-percent: {{ 1 | divided_by: poster.aspect_ratio | times: 100 }}%;"
                        {% endif %}
                      >
                        <button
                          id="Deferred-Poster-Modal-{{ video_id }}"
                          class="video-section__poster media deferred-media__poster media--landscape"
                          type="button"
                          aria-label="{{ alt }}"
                        >
                          {%- if poster != null -%}
                            {{
                              poster
                              | image_url: width: 3840
                              | image_tag:
                                sizes: sizes,
                                widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840',
                                alt: alt
                            }}
                          {%- else -%}
                            {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                          {%- endif -%}
                          <span class="deferred-media__poster-button motion-reduce">
                            {%- render 'icon-play' -%}
                          </span>
                        </button>
                        <template>
                          {%- if block.settings.video == null and block.settings.video_url != null -%}
                            {%- liquid
                              assign loop = ''
                              if block.settings.enable_video_looping
                                assign loop = '&loop=1&playlist=' | append: video_id
                              endif
                            -%}
                            {%- if block.settings.video_url.type == 'youtube' -%}
                              <iframe
                                src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&autoplay=1{{ loop }}"
                                class="js-youtube"
                                allow="autoplay; encrypted-media"
                                allowfullscreen
                                title="{{ block.settings.description | escape }}"
                              ></iframe>
                            {%- else -%}
                              <iframe
                                src="https://player.vimeo.com/video/{{ video_id }}?autoplay=1{{ loop }}"
                                class="js-vimeo"
                                allow="autoplay; encrypted-media"
                                allowfullscreen
                                title="{{ block.settings.description | escape }}"
                              ></iframe>
                            {%- endif -%}
                          {%- else -%}
                            {{
                              block.settings.video
                              | video_tag:
                                image_size: '1100x',
                                autoplay: true,
                                loop: block.settings.enable_video_looping,
                                controls: true,
                                muted: false
                            }}
                          {%- endif -%}
                        </template>
                      </deferred-media>
                    </div>
                  {% endif %}
                  {% if block.settings.show_image == true %}
                    <div class="cs-media-with-text__image-container cs-media-with-text__aspect-ratio--none">
                      {% if block.settings.image != blank %}
                        {{
                          block.settings.image
                          | image_url: width: 3200
                          | image_tag:
                            widths: '300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200',
                            sizes: '(min-width: 750px) calc(100vw / 3), calc(100vw / 1)',
                            class: 'cs-media-with-text__image'
                        }}
                      {% else %}
                        {{
                          'image'
                          | placeholder_svg_tag: 'cs-media-with-text__image cs-media-with-text__image-placeholder placeholder'
                        }}
                      {% endif %}
                    </div>
                  {% endif %}
                </div>
              {% endif %}
            {% when 'description' %}
              {% if block.settings.description != blank %}
                <div class="cs-media-with-text__item cs-media-with-text__item-{{ block.type }}">
                  <p class="cs-media-with-text__description {{ block.settings.description_alignment }} {{ block.settings.description_size }}">
                    {{ block.settings.description }}
                  </p>
                </div>
              {% endif %}
            {% when 'button' %}
              {% if block.settings.button_label != blank %}
                <div class="cs-media-with-text__item cs-media-with-text__item-{{ block.type }}">
                  <a
                    {% if block.settings.button_link == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.button_link }}"
                    {% endif %}
                    class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}"
                  >
                    {{ block.settings.button_label | escape }}
                  </a>
                </div>
              {% endif %}
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Multimedia con texto",
  "tag": "section",
  "class": "section cs-media-with-text",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_background_texture",
      "label": "Habilitar textura de fondo",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "background_texture",
      "label": "Textura de fondo"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "title",
      "name": "Título",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "title",
          "default": "Multimedia con texto",
          "label": "Título"
        },
        {
          "type": "select",
          "id": "title_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "select",
          "id": "title_alignment",
          "options": [
            {
              "value": "left",
              "label": "Izquierda"
            },
            {
              "value": "center",
              "label": "Centro"
            },
            {
              "value": "right",
              "label": "Derecha"
            }
          ],
          "default": "center",
          "label": "Alineación del título"
        }
      ]
    },
    {
      "type": "media",
      "name": "Media",
      "settings": [
        {
          "type": "header",
          "content": "Video"
        },
        {
          "type": "checkbox",
          "id": "enable_video_looping",
          "label": "t:sections.video.settings.enable_video_looping.label",
          "default": false
        },
        {
          "type": "header",
          "content": "t:sections.video.settings.header__1.content"
        },
        {
          "type": "video",
          "id": "video",
          "label": "t:sections.video.settings.video.label"
        },
        {
          "type": "header",
          "content": "t:sections.video.settings.header__2.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.video.settings.paragraph.content"
        },
        {
          "type": "video_url",
          "id": "video_url",
          "accept": ["youtube", "vimeo"],
          "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
          "label": "t:sections.video.settings.video_url.label",
          "info": "t:sections.video.settings.video_url.info"
        },
        {
          "type": "image_picker",
          "id": "cover_image",
          "label": "t:sections.video.settings.cover_image.label"
        },
        {
          "type": "text",
          "id": "description",
          "label": "t:sections.video.settings.description.label",
          "info": "t:sections.video.settings.description.info"
        },
        {
          "type": "header",
          "content": "Imagen"
        },
        {
          "type": "checkbox",
          "id": "show_image",
          "label": "Mostrar imagen",
          "default": true
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Imagen"
        }
      ]
    },
    {
      "type": "description",
      "name": "Descripción",
      "settings": [
        {
          "type": "textarea",
          "id": "description",
          "label": "Descripción"
        },
        {
          "type": "select",
          "id": "description_size",
          "options": [
            {
              "value": "subtitle",
              "label": "Subtítulo"
            },
            {
              "value": "h4",
              "label": "Pequeño"
            },
            {
              "value": "h3",
              "label": "Mediano"
            },
            {
              "value": "h2",
              "label": "Grande"
            }
          ],
          "default": "subtitle",
          "label": "Tamaño de la descripción"
        },
        {
          "type": "select",
          "id": "description_alignment",
          "options": [
            {
              "value": "left",
              "label": "Izquierda"
            },
            {
              "value": "center",
              "label": "Centro"
            },
            {
              "value": "right",
              "label": "Derecha"
            }
          ],
          "default": "center",
          "label": "Alineación de la descripción"
        }
      ]
    },
    {
      "type": "button",
      "name": "Botón",
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "Etiqueta de botón",
          "info": "Deja la etiqueta en blanco para ocultar el botón."
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Enlace de botón"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "Usar estilo de botón con contorno"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Multimedia con texto",
      "blocks": [
        {
          "type": "title"
        },
        {
          "type": "media"
        },
        {
          "type": "description"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
