{{ 'cs-product.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
  	padding-top: calc({{ section.settings.padding_top }}px * 0.75);
  	padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
  }

  @media screen and (min-width: 750px) {
  	.section-{{ section.id }}-padding {
  		padding-top: {{ section.settings.padding_top }}px;
  		padding-bottom: {{ section.settings.padding_bottom }}px;
  	}
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="section-{{ section.id }}-padding page-width">
    {% comment %} Heading {% endcomment %}
    {%- if section.settings.heading != blank -%}
      <h2 class="cs-product__heading inline-richtext {{ section.settings.heading_alignment }} {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        {{ section.settings.heading }}
      </h2>
    {%- endif -%}
    {% comment %} Main {% endcomment %}
    <div class="cs-product__container">
      <div class="cs-product__image-container cs-product__aspect-ratio--{{ section.settings.image_aspect_ratio }}">
        {% if section.settings.image %}
          {{
            section.settings.image
            | image_url: width: 3200
            | image_tag:
              widths: '300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200',
              sizes: '(min-width: 750px) calc(100vw / 1), calc(100vw / 1)',
              class: 'cs-product__image'
          }}
        {% else %}
          {{ 'image' | placeholder_svg_tag: 'cs-product__image placeholder' }}
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Producto",
  "tag": "section",
  "class": "section cs-product",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Producto",
      "label": "Título"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "Pequeño"
        },
        {
          "value": "h1",
          "label": "Mediano"
        },
        {
          "value": "h0",
          "label": "Grande"
        }
      ],
      "default": "h1",
      "label": "Tamaño del título"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "options": [
        {
          "value": "left",
          "label": "Izquierda"
        },
        {
          "value": "center",
          "label": "Centro"
        },
        {
          "value": "right",
          "label": "Derecha"
        }
      ],
      "default": "center",
      "label": "Alineación del título"
    },
    {
      "type": "header",
      "content": "Ajustes de imagen"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Imagen"
    },
    {
      "type": "select",
      "id": "image_aspect_ratio",
      "label": "Relación de aspecto",
      "default": "1-1",
      "options": [
        {
          "value": "none",
          "label": "Adaptar a la imagen"
        },
        {
          "value": "1-1",
          "label": "Cuadrada"
        },
        {
          "value": "4-3",
          "label": "Horizontal (4:3)"
        },
        {
          "value": "16-9",
          "label": "Horizontal (16:9)"
        },
        {
          "value": "3-2",
          "label": "Horizontal (3:2)"
        },
        {
          "value": "3-4",
          "label": "Vertical (3:4)"
        },
        {
          "value": "2-3",
          "label": "Vertical (2:3)"
        }
      ]
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "presets": [
    {
      "name": "Producto"
    }
  ]
}
{% endschema %}
