{{ 'cs-video-grid.css' | asset_url | stylesheet_tag }}
{{ 'video-section.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
  	padding-top: calc({{ section.settings.padding_top }}px * 0.75);
  	padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
  }

  @media screen and (min-width: 750px) {
  	.section-{{ section.id }}-padding {
  		padding-top: {{ section.settings.padding_top }}px;
  		padding-bottom: {{ section.settings.padding_bottom }}px;
  	}
  }
{%- endstyle -%}

{%- capture sizes -%}
  (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px)
  calc(100vw - 10rem), 100vw
{%- endcapture -%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="section-{{ section.id }}-padding page-width">
    {% comment %} Heading {% endcomment %}
    <div class="cs-video-grid__heading-container">
      {%- if section.settings.heading != blank -%}
        <h2 class="cs-video-grid__heading inline-richtext {{ section.settings.heading_alignment }} {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
          {{ section.settings.heading }}
        </h2>
      {%- endif -%}
      {%- if section.settings.subtitle != blank -%}
        <div class="cs-video-grid__subtitle inline-richtext {{ section.settings.heading_alignment }} subtitle{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
          {{ section.settings.subtitle }}
        </div>
      {%- endif -%}
    </div>
    {% comment %} Main {% endcomment %}
    <div class="cs-video-grid__container">
      <div class="cs-video-grid__wrapper grid grid--1-col-tablet-down grid--{{ section.settings.columns_desktop }}-col-desktop">
        {% for block in section.blocks %}
          {%- liquid
            assign video_id = block.settings.video.id | default: block.settings.video_url.id
            assign video_alt = block.settings.video.alt | default: block.settings.description
            assign alt = 'sections.video.load_video' | t: description: video_alt | escape
            assign poster = block.settings.video.preview_image | default: block.settings.cover_image

            if block.settings.video != null
              assign ratio_diff = block.settings.video.aspect_ratio | minus: poster.aspect_ratio | abs
              if ratio_diff < 0.01 and ratio_diff > 0
                assign fix_ratio = true
              endif
            endif
          -%}
          <div class="cs-video-grid__item grid__item">
            <deferred-media
              class="video-section__media deferred-media gradient {% if fix_ratio %} media-fit-cover{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
              data-media-id="{{ video_id }}"
              {% if poster != null %}
                style="--ratio-percent: {{ 1 | divided_by: poster.aspect_ratio | times: 100 }}%;"
              {% endif %}
            >
              <button
                id="Deferred-Poster-Modal-{{ video_id }}"
                class="video-section__poster media deferred-media__poster media--landscape"
                type="button"
                aria-label="{{ alt }}"
              >
                {%- if poster != null -%}
                  {{
                    poster
                    | image_url: width: 3840
                    | image_tag: sizes: sizes, widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840', alt: alt
                  }}
                {%- else -%}
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                {%- endif -%}
                <span class="deferred-media__poster-button motion-reduce">
                  {%- render 'icon-play' -%}
                </span>
              </button>
              <template>
                {%- if block.settings.video == null and block.settings.video_url != null -%}
                  {%- liquid
                    assign loop = ''
                    if block.settings.enable_video_looping
                      assign loop = '&loop=1&playlist=' | append: video_id
                    endif
                  -%}
                  {%- if block.settings.video_url.type == 'youtube' -%}
                    <iframe
                      src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&autoplay=1{{ loop }}"
                      class="js-youtube"
                      allow="autoplay; encrypted-media"
                      allowfullscreen
                      title="{{ block.settings.description | escape }}"
                    ></iframe>
                  {%- else -%}
                    <iframe
                      src="https://player.vimeo.com/video/{{ video_id }}?autoplay=1{{ loop }}"
                      class="js-vimeo"
                      allow="autoplay; encrypted-media"
                      allowfullscreen
                      title="{{ block.settings.description | escape }}"
                    ></iframe>
                  {%- endif -%}
                {%- else -%}
                  {{
                    block.settings.video
                    | video_tag:
                      image_size: '1100x',
                      autoplay: true,
                      loop: block.settings.enable_video_looping,
                      controls: true,
                      muted: false
                  }}
                {%- endif -%}
              </template>
            </deferred-media>
          </div>
        {% endfor %}
      </div>
      <div class="cs-video-grid__button">
        {% if section.settings.button_label != blank %}
          <a
            {% if section.settings.button_link == blank %}
              role="link" aria-disabled="true"
            {% else %}
              href="{{ section.settings.button_link }}"
            {% endif %}
            class="button{% if section.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}"
          >
            {{ section.settings.button_label | escape }}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Cuadrícula de videos",
  "tag": "section",
  "class": "section cs-video-grid",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Cuadrícula de videos",
      "label": "Título"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "Pequeño"
        },
        {
          "value": "h1",
          "label": "Mediano"
        },
        {
          "value": "h0",
          "label": "Grande"
        }
      ],
      "default": "h1",
      "label": "Tamaño del título"
    },
    {
      "type": "inline_richtext",
      "id": "subtitle",
      "label": "Subtítulo"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "options": [
        {
          "value": "left",
          "label": "Izquierda"
        },
        {
          "value": "center",
          "label": "Centro"
        },
        {
          "value": "right",
          "label": "Derecha"
        }
      ],
      "default": "center",
      "label": "Alineación del título"
    },
    {
      "type": "select",
      "id": "columns_desktop",
      "options": [
        {
          "value": "1",
          "label": "t:sections.multicolumn.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.multicolumn.settings.columns_mobile.options__2.label"
        }
      ],
      "default": "2",
      "label": "Número de columnas en escritorio"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "Button label",
      "label": "Etiqueta de botón",
      "info": "Deja la etiqueta en blanco para ocultar el botón."
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Enlace de botón"
    },
    {
      "type": "checkbox",
      "id": "button_style_secondary",
      "default": false,
      "label": "Usar estilo de botón con contorno"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "video",
      "name": "Video",
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_video_looping",
          "label": "t:sections.video.settings.enable_video_looping.label",
          "default": false
        },
        {
          "type": "header",
          "content": "t:sections.video.settings.header__1.content"
        },
        {
          "type": "video",
          "id": "video",
          "label": "t:sections.video.settings.video.label"
        },
        {
          "type": "header",
          "content": "t:sections.video.settings.header__2.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.video.settings.paragraph.content"
        },
        {
          "type": "video_url",
          "id": "video_url",
          "accept": ["youtube", "vimeo"],
          "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
          "label": "t:sections.video.settings.video_url.label",
          "info": "t:sections.video.settings.video_url.info"
        },
        {
          "type": "image_picker",
          "id": "cover_image",
          "label": "t:sections.video.settings.cover_image.label"
        },
        {
          "type": "text",
          "id": "description",
          "label": "t:sections.video.settings.description.label",
          "info": "t:sections.video.settings.description.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Cuadrícula de videos",
      "blocks": [
        {
          "type": "video"
        },
        {
          "type": "video"
        },
        {
          "type": "video"
        },
        {
          "type": "video"
        }
      ]
    }
  ]
}
{% endschema %}
