{{ 'cs-collage.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

{% style %}
  :root {
    --cs-body-font-size: 16px
  }

  #cs-{{ section.id }} {
    padding-top: {{ section.settings.padding_top | times: 0.75 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 }}px;
  }
  @media screen and (min-width: 750px) {
    #cs-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  #cs-{{ section.id }} .cs-heading {
    font-size: calc((var(--cs-body-font-size) * {{ section.settings.heading_size }}) * 0.8);
  }
  @media screen and (min-width: 750px) {
    #cs-{{ section.id }} .cs-heading {
      font-size: calc(var(--cs-body-font-size) * {{ section.settings.heading_size }});
    }
  }

  #cs-{{ section.id }} .cs-grid-item__heading,
  #cs-{{ section.id }} .cs-grid-item__button,
  #cs-{{ section.id }} .icon-arrow-link {
    color: {{ section.settings.text_color }};
  }

  #cs-{{ section.id }} .cs-overlay-gradient {
    opacity: {{ section.settings.overlay_opacity | times: 0.01 }};
  }
  #cs-{{ section.id }} .cs-grid-item {
    border-radius: {{ section.settings.border_radius }}px;
  }
{% endstyle %}

<div id="cs-{{ section.id }}" class="cs-container page-width">
  <div class="cs-wrapper{% if section.settings.large_item_position == 'right' %} is-reverse{% endif %}">
    {% comment %} Section heading {% endcomment %}
    {% if section.settings.heading != blank %}
      <div class="cs-section-heading">
        <h2 class="cs-heading">{{ section.settings.heading }}</h2>
      </div>
    {% endif %}
    {% comment %} Section grid {% endcomment %}
    <div class="cs-grid cs-grid-size-{{ section.blocks.size }}">
      {% for block in section.blocks %}
        {{ block.settings.product_drop }}
        {% case block.type %}
          {% when 'category' %}
            <a
              class="cs-item-wrapper cs-item-wrapper__category"
              {% if block.settings.link != blank %}
                href="{{ block.settings.link }}"
              {% endif %}
            >
              <div class="cs-grid-item">
                {% if block.settings.image != blank %}
                  {{
                    block.settings.image
                    | image_url: width: 1000
                    | image_tag:
                      widths: '50, 75, 100, 150, 200, 300, 400, 500, 750, 1000, 1250, 1500',
                      class: 'cs-grid-item__image'
                  }}
                {% else %}
                  {{ 'image' | placeholder_svg_tag: 'cs-grid-item__image placeholder-svg' }}
                {% endif %}
                <div class="cs-overlay-gradient"></div>
                {% if block.settings.heading != blank %}
                  <h3 class="cs-grid-item__heading">{{ block.settings.heading }}</h3>
                {% endif %}
                <svg class="icon icon-arrow-link" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
                  <path fill="currentColor" d="M19,38C8.52,38,0,29.48,0,19S8.52,0,19,0s19,8.52,19,19-8.52,19-19,19ZM19,1C9.08,1,1,9.07,1,19s8.08,18,18,18,18-8.07,18-18S28.92,1,19,1Z"/>
                  <path fill="currentColor" d="M19.9,25.7c-.1,0-.21-.04-.28-.12-.16-.16-.16-.41,0-.57l5.62-5.62h-13.43c-.22,0-.4-.18-.4-.4s.18-.4.4-.4h13.43l-5.62-5.62c-.16-.16-.16-.41,0-.57s.41-.16.57,0l6.3,6.3s0,0,0,0h0s0,0,0,0h0s0,0,0,0h0s0,0,0,0h0s0,0,0,0h0s0,0,0,0h0s0,0,0,0h0s0,0,0,0c0,0,0,0,0,0h0s0,0,0,0h0s0,0,0,0h0s0,0,0,0h0s.05.07.06.1h0s.03.1.03.16-.01.11-.03.15h0s0,0,0,0c-.02.04-.04.08-.08.12,0,0,0,0,0,0h0s0,0,0,0h0s0,0,0,0h0s0,0,0,0l-6.3,6.3c-.08.08-.18.12-.28.12Z"/>
                </svg>
              </div>
            </a>

          {% when 'product' %}
            <div class="cs-item-wrapper cs-item-wrapper__product">
              <div class="cs-grid-item">
                {% assign product_list = block.settings.product_list %}
                {% if product_list != empty %}
                  {% for product in product_list limit: 1 %}
                    {% render 'card-product',
                      card_product: product,
                      media_aspect_ratio: 'square',
                      show_secondary_image: section.settings.show_secondary_image,
                      show_vendor: section.settings.show_vendor,
                      show_rating: section.settings.show_rating,
                      section_id: section.id,
                      quick_add: section.settings.quick_add
                    %}
                    {% break %}
                  {% endfor %}
                {% else %}
                  {% render 'card-product',
                    show_vendor: section.settings.show_vendor,
                    media_aspect_ratio: section.settings.image_ratio,
                    placeholder_image: 'image'
                  %}
                {% endif %}
              </div>
            </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Collage",
  "class": "cs-collage",
  "tag": "section",
  "max_blocks": 7,
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Título de la sección",
      "default": "Nuestras colecciones"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "Tamaño del título",
      "options": [
        {
          "value": "3.0",
          "label": "Muy grande"
        },
        {
          "value": "2.5",
          "label": "Extra grande"
        },
        {
          "value": "2.0",
          "label": "Grande"
        },
        {
          "value": "1.7",
          "label": "Mediano"
        },
        {
          "value": "1.4",
          "label": "Pequeño"
        },
        {
          "value": "1.2",
          "label": "Muy pequeño"
        }
      ],
      "default": "2.5"
    },
    {
      "type": "header",
      "content": "Cuadrícula"
    },
    {
      "type": "select",
      "id": "large_item_position",
      "label": "Posición del elemento grande",
      "options": [
        {
          "value": "left",
          "label": "Izquierda"
        },
        {
          "value": "right",
          "label": "Derecha"
        }
      ],
      "default": "left"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "Opacidad de la sobreposición de imagen",
      "default": 100
    },
    {
      "type": "range",
      "id": "border_radius",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Radio de borde",
      "default": 0
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Color del texto",
      "default": "#fff"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Espaciado superior",
      "default": 30,
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Espaciado inferior",
      "default": 30,
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px"
    }
  ],
  "blocks": [
    {
      "type": "category",
      "name": "Categoría",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Imagen"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Título de la categoría",
          "default": "Heading"
        },
        {
          "type": "text",
          "id": "link_label",
          "label": "Texto del botón",
          "default": "Botón"
        },
        {
          "type": "url",
          "id": "link",
          "label": "URL del botón"
        }
      ]
    },
    {
      "type": "product",
      "name": "Producto",
      "settings": [
        {
          "type": "product_list",
          "id": "product_list",
          "label": "Producto",
          "limit": 1
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collage",
      "blocks": [
        {
          "type": "category"
        },
        {
          "type": "category"
        },
        {
          "type": "category"
        },
        {
          "type": "category"
        },
        {
          "type": "category"
        },
        {
          "type": "category"
        }
      ]
    }
  ]
}
{% endschema %}
